/.settings
/target
/.classpath
/.project
/lardicore.log
.idea
.gradle
*.iml
/nb-configuration.xml
/nbactions.xml

# EduTools
/**/production/classes/*
/**/task/build/classes/*
/**/task/out/*
/**/tmp/test/*_tmp
